/* input[name="caption"] + label{
    border-radius: 7px;
    background-color: #FFF;
    border: 1px solid #e4e5e7;
    padding: 10px;
} */
/* input[name="caption-input"]:checked + textarea{
    background-color:rgb(233, 229, 229);
    background-color: red !important;
} */

.top-btn {
    font-size: 17px;
    font-family: 'Rethink Sans';
    font-weight: 800;
    background-color: transparent;
    border: 2px solid black;
}

.active-border {
    border: 2px solid gray !important;
}

.insta-form {
    border: 2px solid black;
    width: 450px;
}


.propmt-txt {
    font-size: 17px;
    font-family: 'Rethink Sans';
    color: #303030;
}

.catption-box {
    border: 2px solid black;
}

.caption-textarea,
.caption-textarea:focus {
    border-style: none;
    border-color: Transparent;
    outline: none;
    background-color: transparent;
    font-size: 17px;
    font-family: 'Rethink Sans';
    color: #303030;
    font-weight: 800;
}



.post-btn {
    font-size: 17px;
    font-family: 'Rethink Sans';
    color: #303030;
    font-weight: 800;
}

.drag-drop-text {
    font-size: 17px;
    font-family: 'Rethink Sans';
}

.or {
    font-size: 17px;
    font-family: 'Rethink Sans';
}

.file-btn {
    background-color: transparent !important;
    border: none;
    font-size: 17px !important;
    font-family: 'Rethink Sans' !important;
    color: #303030 !important;
    text-decoration: none;
}

.caption-text {
    font-size: 17px;
    font-family: 'Rethink Sans';
    color: #303030;
}

.edit-btn {
    background-color: transparent !important;
    border: none;
    font-size: 17px !important;
    font-family: 'Rethink Sans' !important;
    color: #303030 !important;
    text-decoration: none;
    font-weight: 400 !important;
}


.edit-label:hover {
    cursor: pointer;
}

.guide-text {
    font-size: 100px;
    font-family: 'Rethink Sans';
    font-weight: 800;
    color: #303030;
}

.logout-btn {
    background-color: #303030;
   
        padding: 5px;
        border: 2px solid black;
        width: fit-content;
        height: fit-content;
     
}
.connectivity-btn button{
    margin-left: 20px;
}

.post-container {

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* 7 columns, each of equal width */
    gap: 40px;
    /* background-color: red; */
    width: 100%;
    /* Adjust the gap between items as needed */

}
.post-item{
    border: 1px solid #000000;
    aspect-ratio: 1/1;
    position: relative;
}

.post-item img{
    width: 100%;
    height: 100%;
}

.post-item .post-action{
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
}
.post-item .post-action img{
    height: 16px;
}

.time{
    font-size: 17px;
    font-weight: 800;
    font-family: 'Rethink Sans';
}

.time-count{
    font-size: 28px;
    font-weight: 800;
    font-family: 'Rethink Sans';
}

@media (max-width: 768px) {
    /* .insta-button{
        display: flex;
        flex-direction: column;

    } */
}


@media (max-width: 1200px) {
    .post-container {
        grid-template-columns: repeat(5, 1fr); /* 5 columns */
    }
}

/* For medium screens (e.g., tablets) */
@media (max-width: 992px) {
    .post-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
    }
}

/* For small screens (e.g., mobile) */
@media (max-width: 768px) {
    .post-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns */
    }
    .connectivity-btn{
        display: flex;
        flex-direction: column;
    }
    
}

@media (max-width: 576px) {
    /* .connectivity-btn{
        display: flex;
        flex-direction: column;
    } */
}

