

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
.file-btn{
    background-color: transparent;
    color: blue;
    
    text-decoration: underline;
    text-underline-offset: 4px;
}