.instagram-loader{
    font-size: 100px;
    font-family: 'Rethink Sans';
    /* font-optical-sizing: auto; */
    font-weight: 800px;
    color: #303030;
}

@media (max-width: 576px) {

    .instagram-loader {
      
      font-size: 50px;
      
    }
  
  }